# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/server/__pycache__/__init__.cpython-310.pyc
app/server/__pycache__/run.cpython-310.pyc
app/server/api/web/__pycache__/messages_api.cpython-310.pyc
app/server/data_object/__pycache__/message_objects.cpython-310.pyc
app/server/service/__pycache__/ros_topics.cpython-310.pyc
