# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.pytest_cache

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/server/__pycache__/
app/server/__pycache__/
app/server/api/web/__pycache__/
app/server/data_object/__pycache__/
app/server/service/__pycache__/
app/server/tests/__pycache__/

#frontend
# dependencies
app/client/node_modules
app/client/.pnp
app/client/.pnp.js

# testing
app/client/coverage

# production
app/client/build

# misc
app/client/.DS_Store
app/client/.env.local
app/client/.env.development.local
app/client/.env.test.local
app/client/.env.production.local

app/client/npm-debug.log*
app/client/yarn-debug.log*
app/client/yarn-error.log*

# environment
**.env