/* Modal background */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.filter-modal {
    background-color: #f8fafc;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 700px;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #4a4a4a;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #cfd8e3;
    font-size: 15px;
    background-color: #ffffff;
    color: #333;
    transition: box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    box-shadow: 0px 0px 8px 3px rgba(100, 150, 255, 0.2);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.add-button {
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background: linear-gradient(145deg, #0096ff, #0074d9);
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.add-button:hover {
    background: linear-gradient(145deg, #0074d9, #005cbf);
    transform: translateY(-3px);
}

.cancel-button {
    background: linear-gradient(145deg, #6c757d, #5a6268) !important;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background: linear-gradient(145deg, #5a6268, #495057);
}


.multi-select {
    width: 97%;
    font-size: 16px; 
}

.react-select-container {
    width: 100%;
}

.react-select__control {
    border-radius: 8px;
    border: 1px solid #cfd8e3;
    background-color: #ffffff;
}

.react-select__menu {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-select__option {
    display: flex;
    align-items: center;
}

.react-select__option input {
    margin-right: 10px;
}

.react-select__option--is-selected {
    background-color: #3a86ff !important;
    color: white !important;
}

